*.csproj
*.pidb
*.sln
.DS_Store
Library/*
Publish/*
Temp/*
Screenshots/*
obj/*
UnityPackageManager/*
Video/*
*.userprefs
*.unityproj
*.sublime-project
*.sublime-workspace
Logs
UserSettings
StoneSoup.sln
StoneSoup.sln
StoneSoup.sln~885bf70651b3eb028bedf19dfaff2e7bb4e9d0f4
.vscode/settings.json
